.recent_registration{
    text-align: right;
    margin-right: 20px;
}
input[type="button"]{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    width: 20%;
}

hr{
    width: 100%;
    background-color: black;
    margin-top: 50px;
    height: 3px;
}

.foods{
    border: solid 1px black;
    margin-top: 80px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap; /* 折り返しを有効にする */
    gap: 10px; /* ボタン間のスペース */
}

.button {
    background-image: url('img/nikujaga.jpg'); /* 画像パスを指定 */
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    padding: 40px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    width: calc(25% - 30px); /* 横4つ並べるための設定（間隔分を差し引く） */
    box-sizing: border-box; /* パディングとボーダーを含めて幅を計算 */
}

.button:hover {
    opacity: 0.8;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    width: 300px;
    text-align: center;
}

.popup .popup-content {
    background: #fff;
    color: #000;
    padding: 15px;
    border-radius: 5px;
}

.popup .popup-close {
    background: #f44336;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.popup .popup-close:hover {
    background: #d32f2f;
}
