table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* テーブルに影を追加 */
}

th, td {
    padding: 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
    color: #444;
    text-align: center;
}

td {
    background-color: #ffffff;
    color: #333;
    text-align: center;
}

tr:hover {
    background-color: #f9f9f9;
    cursor: pointer; /* マウスオーバー時にカーソルをポインターに変更 */
}

h1, h4 {
    text-align: center; /* 見出しを中央揃え */
    color: #333;
}

a {
    text-decoration: none;
    color: #3498db; /* リンクの色を変更 */
    font-weight: 600;
}
button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* ボタン背景色 */
    color: white; /* 文字色 */
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 35%;
  }
  
  button:hover {
    transform: scale(1.05); /* ホバー時に少し大きくなる */
  }
  
  button:active {
    transform: scale(1); /* クリック時に元の大きさに戻る */
  }
  
  button:focus {
    outline: none; /* フォーカス時のアウトラインを削除 */
  }
.delete{
    background-color: #e4332d;
}

.content {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color: #fafafa; /* コンテンツエリアの背景色を変更 */
    border-radius: 8px; /* 丸みを帯びた角 */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* コンテンツエリアに影を追加 */
}

