body {
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%), 0 2px 3px -2px rgb(0 0 0 / 1%);
  background-image: linear-gradient(transparent calc(100% - 1px), #e6edf3 50%, #e6edf3),
      linear-gradient(90deg, transparent calc(100% - 1px), #e6edf3 50%, #e6edf3);
  background-size: 15px 15px;
  background-repeat: repeat;
  background-color: #ffffff;
  color: #333;
}

img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
}

.dishes_can_make {
  padding: 10px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  background-color: white;
}

.dishes_can_make a {
  flex-basis: calc(33.333% - 10px);
  box-sizing: border-box;
  margin-bottom: 10px;
}

.dishes_can_make a:hover {
  transform: scale(1.02);
}

.dishes_can_make img {
  width: 100%;
  height: 300px;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.dishes_can_make img:hover {
  transform: scale(1.02);
}

table {
  width: 100%;
}

td {
  text-align: center;
  font-size: 20px;
  margin: 100px;
}

.expiring_soon,
.expired {
  background-color: white;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
}

.expired {
  color: red;
}

.image-container.hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: none; /* 初期状態では非表示 */
}

.image-container {
  position: relative;
  width: 100%;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  display: block; /* 表示状態 */
}


.image-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
}

.hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
button {
  margin-top: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}